{% extends 'base.html.twig' %}

{% block scripts %}
    #permet de garder ce qu'il y a dans block parent
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create( document.querySelector( '#form_content' ) );
    </script>
    {# -- Dropify ------------------ #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew==" crossorigin="anonymous"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>

{% endblock %}


{% block body %}
    <main class="main">
        <div class="conteneur">
        <!--Annonces home -->
            <section class="formulaire-simple">
            <h2 class="h2">Je dépose mon annonce</h2>

                {{ form(form, {'attr' : {'novalidate':'novalidate'}}) }}
            </section>
        </div><!-- fin conteneur -->
    </main>


{% endblock %}