<div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/parking_1.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p>Address</p>
        <p>Prix</p>
    </div>
    <ul>
        <li>Voiture icones</li>
        <li>Moto icones</li>
        <li>Camion ....</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Voir l'annonce</a>
    </div>
</div>