<div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/parking_1.jpg') }}" class="card-img-top" alt="{{ post.alias }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p>{{ post.address }}</p>

    </div>
    <ul>
        <li>Voiture icones</li>
        <li>Moto icones</li>
        <li>Camion ....</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Voir l'annonce</a>
    </div>
</div>