{% extends "base.html.twig" %}

{% block body %}
    {% include 'components/_nav.html.twig' %}

    <h1>Modifier mon post</h1>
    {{ form(form) }}

    {% include 'components/_footer.html.twig' %}

{% endblock %}